# Sanity CMS Project Configurations
NEXT_PUBLIC_SANITY_PROJECT_ID=9f5rpp8c
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-03-12

# Sanity Studio standalone (folder studio/)
SANITY_STUDIO_PROJECT_ID=9f5rpp8c
SANITY_STUDIO_DATASET=production

# Revalidation Webhook Secret for on-demand ISR
SANITY_WEBHOOK_SECRET=your-random-secret-token-here
